@model CoursesManagament.ViewModels.RegisterViewModel

@{
    ViewBag.Title =" Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link href="~/css/StyleSheet.css"></link>
    <style>
        #register .container #register-row #register-column .register-box {
            margin-top: 120px;
            max-width: 600px;
            height: 480;
            border: 1px solid #9C9C9C;
            background-image: linear-gradient(to bottom, #aec1c3, #a9b5b7, #bcc5c6, #cfd5d5, #e3e5e5);
        }

        #register.container #register-row #register-column.login-box #register-column {
            padding: 20px;
        }

            #register .container #register-row #register-column .register-box #register-form #register-link {
                margin-top: -15px;
            }

    </style>

</head>
<body>

    <div id="register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div class="register-box col-md-12">
                        <form id="register-form" asp-action="register" >

                      
                            <h3 class="text-center text-info">Register</h3>
                          
                                <div class="form-group">
                            <label asp-for="FirstName" class="control-label text-info">FirstName:</label>
                                    <input asp-for="FirstName" class="form-control" type="text" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                            <div class="form-group">
                                <label asp-for="LastName" class="control-label text-info">LastName:</label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="Email" class="control-label text-info">Email:</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                          
                      
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label text-info">UserName:</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                           
                            </div>
                       
                            <div class="form-group">
                                <label asp-for="Password" class="control-label text-info">Password:</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            
                            </div>
              
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label text-info">ConfirmPassword:</label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>


                             <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Register">

                                <div id="register-link" class="text-right">
                                    <a href="/Account/Login" class="text-info"> Already have Account</a>
                                </div>
                            </div>

                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Include validation scripts if needed *@
    @section Scripts {
        @{

            await Html.RenderPartialAsync("_ValidationScriptsPartial");
            
        }
    }
    </div>

</body>
</html>

